body {
    background-color: #d0e4fe;
    font-family: Segoe UI;
}

h1 {
    color: orange;
    text-align: center;
}

header
{
margin:auto;
width: 90%;
border-style: solid;
height: 75px;
border-radius: 5px;
padding: 5px;

}

footer
{
margin:auto;
width: 90%;
border-style: solid;
border-radius: 5px;
padding: 5px;
}

.zawartosc
{
margin:auto;
width: 90%;
height: 400px;
border-style: solid;
border-radius: 5px;
padding: 5px;
}



.header-button
{
float:left;
padding: 1%;
text-align: center;
width:20%;
background-color: green;
border-style: solid;
border-width: medium;
border-radius: 10px;
margin: 8px;
}

.header-button:hover
{
background-color: red;
}

.header-button:active
{
background-color: white;
}

footer.ok
{
background-color: green;
}

footer.nok
{
background-color: red;
}