<!DOCTYPE html>
<html ng-app="maintenanceApp">
<head>
	<meta charset="utf-8">
	<title>ecu App maintenance page</title>
	<link href="css/stylesheet.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="3rdParty/angular.js"></script>
	<script type="text/javascript" src="3rdParty/angular-route.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body>
<h1>RPI Maintenance page</h1>
<header ng-controller="screenFlowCtrl">
<div class="header-button" ng-click="changeScreen('processes')" >Processes</div>
<div class="header-button" ng-click="changeScreen('meminfo')">MemInfo</div>
<div class="header-button" ng-click="changeScreen('deviceControl')">Control</div>
<div class="header-button" ng-click="changeScreen('networkSettings')" >Network</div></header>
</br>

<div class="zawartosc" ng-view></div>
</br>
<footer ng-controller="statusUpdater" ng-class="footerStyleClass">
Healthcheck status: {{statusText}} - after {{number}} seconds
</footer>
</body>
</html> 